extends layout

block head
  - relative_path = '../../../'
  title= post.title + ' | Projects'

block css
  link(href=relative_path+'css/item_single.css', rel='stylesheet')
  link(href=relative_path+'css/owl-carousel.css', rel='stylesheet')

- function slugify(name) {
  - return name.toLowerCase().replace(/[^\w]+/g, '-');
- }

block content
  article.page.item-single-page
    header.project-title.wow.fadeInUp
      h5= post.tagline
      h1= post.title
      if post.link
        cite: a(href=post.link) publication
      if post.slider
        div#projects1.owl-carousel1
          for w in post.slider
            div.item1.wow.fadeInUp
              img(src=w)
    block projects-content

block js
  block projects-js